.my-projects__prj-description {
  margin: 0 25px;
  font-family: 'PlayfairDisplay-regular', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 2rem;
  color: #464646;
}

@media (max-width: 768px) {
  .my-projects__prj-description {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .my-projects__prj-description {
    margin: 0 10px;
  }
}
