.my-projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

@media (max-width: 960px) {
  .my-projects {
    gap: 10px;
  }
}

@media (max-width: 768px) {
    .my-projects {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
  