.my-projects__prj-name {
    margin: 0;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "PlayfairDisplay-bold", "Arial", sans-serif;
    color: #050505;
    outline: 2px solid rgba(70, 70, 70, 0.1);
    font-size: 44px;
    line-height: 3rem;
    min-height: 100px;
}

.my-projects__prj-name:first-of-type {
    margin-bottom: 30px;
}

.my-projects__prj-name:hover{
    background-color: #0219e3;
    transition-duration: 0.5s;
}

@media (max-width: 960px) {
    .my-projects__prj-name {
        font-size: 36px;
        line-height: 2.5rem;
    }
  }
  