.my-services__column-point {
    margin: 0;
    padding-bottom: 15px;
    font-family: "PlayfairDisplay-regular", "Arial", sans-serif;
    color: #464646;
    font-size: 20px;
    line-height: 1.25rem;
}